:root {
  --font-family: lato, 'sans-serif';
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --black-gray: #272a31;
  --carmine-pink: rgb(236, 82, 66);
  --grey: #d3d3d3;
  --black: #272a31;
  --white: #fff;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --yellowgreen: #6db943;
  --brilgreen: rgb(216, 255, 192);
  --lighter-grey: #102a42;
  --darker-grey: #617d98;
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background: var(--white);
  color: var(--lighter-grey);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h4,
h3,
h2,
h1 {
  margin-bottom: 0.75rem;
  line-height: 1.25;
  letter-spacing: var(--spacing);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--black);
}

.hidden {
  display: none;
}

.btn {
  width: fit-content;
  width: -moz-fit-content;
  padding: 1.5rem;
  border: 3px solid var(--carmine-pink);
  font-size: 1.2rem;
  color: var(--white);
  display: block;
  background-color: var(--carmine-pink);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.svg-inline--fa.fa-w-14 {
  width: 1.875em;
}

.header {
  padding-top: 1.5rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--lighter-grey);
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.logo-img {
  height: 4rem;
  width: 4rem;
  padding-left: 0.5rem;
}

.logo span {
  font-size: 1.2rem;
  font-weight: 600;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 15;
}

.nav1 {
  display: none;
  padding: 5px 5rem;
  background-color: var(--black);
  color: var(--white);
}

.nav1-items {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.nav1-icons {
  display: inline-block;
  padding: 0 1rem;
  cursor: pointer;
}

.nav2 {
  padding: 0.5rem;
  width: 100%;
  margin: 0 auto;
  background: var(--white);
}

.nav-head-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--white);
}

.nav-toggle {
  background-color: transparent;
  border: transparent;
  font-size: 1.5rem;
  cursor: pointer;
  transition: var(--transition);
}

.nav-toggle:hover {
  transform: rotate(180deg);
}

.nav-menu {
  height: 0;
  overflow: hidden;
  text-align: center;
  align-items: center;
  background-color: transparent;
  gap: 3rem;
}

.show-links {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  padding-top: 1.5rem;
  background-color: rgb(236, 82, 66, 0.2);
  transition: 0.3s;
}

.nav-link {
  font-family: sans-serif;
  display: block;
  padding: 1rem 1.5rem;
  text-transform: capitalize;
  font-size: 1.5rem;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  cursor: pointer;
  font-weight: 1000;
  color: var(--black);
}

.nav-link-btn {
  display: none;
}

#last-nav-item {
  border: 2px solid var(--carmine-pink);
  padding: 0.5rem;
}

.active {
  color: var(--carmine-pink);
}

#close-btn {
  background: transparent;
  border: none;
  font-size: 3rem;
  position: absolute;
  top: 0;
  left: 90%;
  cursor: pointer;
}

.hero {
  margin-top: 0;
  display: flex;
  padding: 0 1rem;
  margin-bottom: 0;
  background:
    linear-gradient(
      rgba(249, 249, 249, 0.8),
      rgba(255, 255, 255, 0.9)
    ),
    url(./images/cap-background.jpg) center/cover no-repeat;
  padding-top: 2rem;
}

.hero-text {
  margin-top: 20%;
}

.hero-text h2 {
  font-family: sans-serif;
  color: var(--carmine-pink);
}

/* stylelint-disable */
.hero-text h1 {
  background-image: url(./images/orange-globe.png);
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  background-clip: text;
  color: rgb(236, 82, 66, 0.6);
  margin-top: 1rem;
}

/* stylelint-enable */

.hero-text-par {
  color: var(--black);
  border: 3px solid rgb(216, 255, 192);
  padding: 1rem;
  background: var(--white);
}

#start-date {
  color: var(--black);
  font-weight: 600;
  font-size: 1.75rem;
  margin: 1rem 0;
}

.hero-text h3 {
  font-size: 1rem;
  margin: 1rem 0;
  color: var(--black);
  font-weight: normal;
}

.schedule-text {
  color: var(--black);
  text-align: center;
}

.date-con {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.date-con td {
  color: var(--black);
  font-family: sans-serif;
  padding: 0.5rem;
  text-align: center;
  font-weight: 600;
}

#date-con-title {
  color: var(--carmine-pink);
}

.page-up {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border: 1px solid #6db943;
  border-radius: 44%;
  background: url(./images/logo.jpg) center/cover no-repeat;
  position: fixed;
  left: 75%;
  bottom: 10%;
  color: var(--white);
  z-index: 5;
}

.page-up-icon {
  padding-bottom: 57%;
}

.fa-long-arrow-alt-up {
  margin: 0.75rem;
  cursor: pointer;
}

.programs {
  background-image: url(./images/diamond.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 3rem 1rem;
  opacity: 0.9;
}

.program-title {
  padding-top: 2rem;
  text-align: center;
  color: var(--black);
  margin-bottom: 2rem;
}

.Feat-Spkrs {
  color: var(--black);
}

.Main-Pro {
  color: var(--white);
}

.underline {
  width: 10rem;
  height: 3px;
  background-color: var(--carmine-pink);
  margin: 1rem auto;
}

.icon-img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  display: block;
}

.one-program {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(0, 0, 0, 0.6);
  margin-bottom: 1rem;
  padding: 1rem 0.5rem;
}

.one-program p {
  color: var(--white);
  margin: 0;
}

.one-program h4 {
  font-size: 0.75rem;
  margin: 0;
  margin-right: 1rem;
  color: var(--carmine-pink);
}

.more-info {
  display: none;
}

.join-btn {
  padding: 1rem;
  background-color: var(--carmine-pink);
  margin: 0 auto;
  margin-top: 1rem;
  color: var(--white);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.join-btn:hover {
  background: transparent;
}

.speakers {
  padding: 5rem 0.5rem;
  padding-left: 1.7rem;
}

.each-speaker {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 2rem auto;
}

.speaker-img {
  display: block;
  position: relative;
  width: 8rem;
  height: 7rem;
}

.speaker-img::before {
  position: absolute;
  width: 65%;
  height: 60%;
  border: 0.25rem solid var(--carmine-pink);
  top: -1.4rem;
  right: 3.4rem;
  background: url(./images/checkered.png);
  background-color: rgb(0, 0, 0, 0.1);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  content: '';
}

.speaker-photo {
  width: 8rem;
  height: 7rem;
  position: relative;
  /* stylelint-disable-next-line csstree/validator */
  object-fit: center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

.speaker-text h3 {
  color: var(--lighter-grey);
}

.italic {
  display: block;
  color: var(--carmine-pink);
  margin-bottom: 1rem;
  font-style: italic;
}

.underline-small {
  width: 4rem;
  height: 4px;
  background-color: grey;
  margin-bottom: 0.5rem;
}

.load-more {
  background: var(--white);
  color: var(--lighter-grey);
  margin: 0 auto;
  cursor: pointer;
  transition: var(--transition);
  width: 85%;
  padding: 1rem 3rem;
  border: 2px solid var(--grey);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.load-more:hover {
  background: rgb(236, 82, 66, 0.9);
  color: var(--white);
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
}

.load-more span {
  margin-left: 1rem;
}

.fa-angle-down {
  color: var(--carmine-pink);
}

.fa-angle-down:hover {
  color: var(--white);
}

.partners {
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
  padding: 3rem 1rem;
  color: grey;
}

.partners .program-title h2 {
  color: grey;
}

.all-partners {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.c21 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c21 h3 {
  font-family: Playfair, serif;
  letter-spacing: 5px;
  margin-bottom: 0;
  padding-top: 0;
}

.google {
  display: flex;
  align-items: center;
}

.google h3 {
  font-family: Helvetica, sans-serif;
  letter-spacing: 5px;
  text-transform: capitalize;
}

.fg {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 1rem;
}

.fg h3 {
  font-family: Helvetica Rounded, sans-serif;
}

.bhhs {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bhhs h3 {
  font-style: italic;
  margin-bottom: 0;
}

.airbnb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.airbnb-i {
  display: inline-block;
  font-size: 3rem;
  padding: 0;
  margin: 0;
}

.airbnb h3 {
  margin-left: 0.5rem;
  align-self: center;
}

.partners::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0, 0.3);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
}

.about-hero-text h1 {
  color: var(--carmine-pink);
  text-align: center;
}

#hero-text-par {
  margin: 2rem auto;
  padding: 2rem;
  border: 2px solid white;
  color: var(--black);
  background: var(--white);
}

.about-information {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.about-info-text {
  padding: 1rem;
}

.about-info-text p {
  text-align: center;
  margin: auto;
  color: var(--black);
  font-size: 1rem;
}

.about-info-text .underline {
  height: 1px;
  margin-top: 1px;
  width: 12rem;
}

.logo-information {
  color: var(--black);
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid var(--darker-grey);
}

.logo-information h3 {
  padding: 1.5rem;
  padding-bottom: 0;
}

.small-underline {
  width: 4rem;
  height: 2px;
  background-color: var(--carmine-pink);
  margin: auto;
  margin-bottom: 1.5rem;
}

.logo-information-p {
  margin-bottom: 2rem;
  font-weight: 600;
}

.hide-later {
  display: none;
}

.logo-information .logo {
  cursor: default;
}

.about-logo-big img {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.logo-information .logo img {
  width: 8rem;
  height: 8rem;
}

.logo-information .logo .logo-text span {
  font-size: 2.5rem;
}

.small {
  display: block;
  font-size: 10px;
}

.logo-information hr {
  margin: auto;
  height: 2px;
  width: 11rem;
}

.about-logo-big {
  width: fit-content;
  padding: 1rem 5rem;
  border: 1px solid var(--darker-grey);
  margin: 4rem auto;
}

.past-events {
  padding: 3rem 1rem;
  text-align: center;
}

.past-events p {
  color: var(--white);
}

.about-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 3rem;
}

.about-footer {
  padding: 3rem;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.about-footer .logo {
  cursor: default;
}

.about-footer .logo-img {
  width: 3rem;
  height: 3rem;
}

/* stylelint-disable */
.about-footer .logo-text-about span {
  font-size: 1rem;
  color: var(--lighter-grey);
}

/* stylelint-enable */

.sch-txt-eml {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
}

.sch-txt-eml p {
  font-size: 1rem;
  text-decoration: underline;
}

.right-arrow {
  display: none;
}

.past-events-con {
  display: flex;
  flex-direction: column;
  gap: 2.1rem;
}

.event {
  width: 100%;
  height: 33vh;
  border: 1px solid var(--darker-grey);
  background: var(--carmine-pink);
  cursor: pointer;
}

.event:hover {
  transition: var(--transition);
  border: 2px solid var(--dark-shadow);
}

.e1img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.year {
  margin-top: -161px;
  font-size: 2.5em;
  margin-bottom: 0;
}

.event-par {
  font-size: 1.2em;
}

.about-foot {
  background: var(--black);
}

.home-foot {
  color: black;
}

.about-foot1 {
  color: white;
}

.about-footer-text p {
  color: var(--lighter-grey);
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  body {
    font-size: 1.2rem;
  }

  h4,
  h3,
  h2,
  h1 {
    line-height: 1;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    background-color: var(--white);
  }

  .nav1 {
    display: block;
  }

  .nav2 {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 5rem;
    flex-wrap: wrap;
  }

  .nav-toggle {
    display: none;
  }

  .nav-link {
    font-family: var(--font-family);
    font-size: 1rem;
    display: inline-block;
    margin-right: 0.7rem;
    padding: 1rem;
  }

  .nav-menu {
    padding-top: 0;
    height: auto;
    display: flex;
  }

  /* stylelint-disable */
  .nav-link:hover {
    padding: inherit 0;
  }

  /* stylelint-enable */
  #close-btn {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero-text {
    width: 70%;
    margin: 0 auto;
    margin-top: 10%;
  }

  .hero-text h1 {
    font-family: sans-serif;
    font-size: 4rem;
    font-weight: 1000;
  }

  .hero-text p {
    max-width: 50%;
  }

  .start-date {
    margin-top: 3rem;
    font-weight: 400;
    font-size: 1.8rem;
  }

  .hero-text h3 {
    font-size: 1.8rem;
  }

  .event-info {
    display: flex;
    gap: 4rem;
    align-items: center;
  }

  .date-con {
    margin-top: 0;
    margin-bottom: 0;
  }

  .date-con td {
    padding: 1rem;
    text-align: center;
  }

  .page-up {
    padding: 1rem 1.5rem;
    left: 12%;
  }

  .fa-long-arrow-alt-up {
    margin: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .all-programs {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
    flex-wrap: wrap;
  }

  .one-program {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.5rem;
    width: 16rem;
    height: 20rem;
    -o-transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    transition: var(--transition);
  }

  .one-program:hover {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
    border: 2px solid white;
    box-shadow: var(--dark-shadow);
  }

  .icon-img {
    width: 4.5rem;
    height: 4.5rem;
    margin: 0 auto;
  }

  .one-program h4 {
    font-size: 1.5rem;
    color: var(--carmine-pink);
    margin: 1rem auto;
  }

  .one-program p {
    color: var(--white);
    margin: 1rem auto;
  }

  .more-info {
    display: block;
    text-align: center;
    padding: 2rem;
  }

  .more-info h3 a {
    color: var(--white);
  }

  .more-info hr {
    max-width: 28rem;
    margin: 0 auto;
  }

  .join-div {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .speakers {
    padding: 5rem 2rem;
  }

  .featured-speakers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    margin-top: 3rem;
  }

  .each-speaker {
    max-width: 100%;
    gap: 2rem;
  }

  .speaker-photo {
    width: 10rem;
    height: 10rem;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
  }

  .speaker-img {
    display: block;
    position: relative;
    width: 10rem;
    height: 10rem;
  }

  .speaker-img::before {
    content: '';
    position: absolute;
    width: 65%;
    height: 60%;
    border: 0.25rem solid var(--carmine-pink);
    top: -1.5rem;
    right: 5rem;
    background-color: rgb(0, 0, 0, 0.1);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
  }

  .load-more {
    max-width: 40%;
  }
}

@media (min-width: 768px) {
  .partners {
    padding: 5rem;
  }

  .all-partners {
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .fg-i {
    font-size: 3rem;
    position: absolute;
    left: 4.5rem;
    top: -1rem;
  }

  .partners .program-title {
    margin-bottom: 4rem;
  }
}

@media (min-width: 768px) {
  .footer {
    padding: 3rem;
    background-color: var(--white);
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .footer .logo-img {
    width: 8rem;
    height: 8rem;
  }

  .footer .logo-text span {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .logo-information {
    padding: 8rem;
  }

  #hero-text-par {
    max-width: 85%;
  }

  .about-hero-text h1 {
    margin: auto;
    max-width: 70%;
  }

  .logo-information h3 {
    font-size: 2rem;
  }

  .logo-information-p {
    font-weight: normal;
    max-width: 70%;
    margin: auto;
    margin-bottom: 3.5rem;
  }

  .hide-later {
    display: inline;
  }

  .about-logo-big {
    padding: 2rem 10rem;
    border: 1px solid var(--darker-grey);
    margin: 4rem auto;
  }

  .about-info-text p {
    font-size: 1.2rem;
    min-width: 70%;
  }

  .about-info-text .underline {
    width: 14rem;
  }
}

@media (min-width: 768px) {
  .past-events {
    padding: 5rem 10rem;
  }

  .about-cards {
    flex-direction: row;
  }

  .about-partners {
    display: none;
  }
}

@media (min-width: 768px) {
  .about-footer {
    background: var(--black);
    gap: 3rem;
  }

  .about-footer .logo-img {
    width: 8rem;
    height: 8rem;
  }

  .about-footer .logo-text span {
    color: var(--brilgreen);
    font-size: 2rem;
  }

  .about-footer-text p {
    color: var(--brilgreen);
  }
}

@media (min-width: 768px) {
  .right-arrow {
    font-size: 1.5rem;
    display: inherit;
  }

  .hero {
    margin-top: 0;
  }

  .hero-text-par {
    background: var(--white);
  }

  .hero-text p {
    max-width: 100%;
    margin-bottom: 0;
  }

  .schedule-text {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .footer {
    height: 18rem;
    background-color: var(--white);
  }

  .about-foot {
    background: var(--black);
  }

  .home-foot {
    color: black;
  }

  .footer-logo-text {
    color: var(--black);
  }

  .past-events-con {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .about-foot1 {
    color: white;
  }
}

@media (min-width: 982px) {
  .speakers {
    padding: 5rem;
  }
}
